TZ=Asia/Shanghai

MYSQL_ROOT_PASSWORD=lab-system-local
MYSQL_PORT=3306
REDIS_PORT=6379

MQTT_PORT=1883
MQTT_WS_PORT=8083
MQTT_WSS_PORT=8084
MQTT_TLS_PORT=8883
EMQX_DASHBOARD_PORT=18083
EMQX_DASHBOARD_USERNAME=admin
EMQX_DASHBOARD_PASSWORD=public123

PERMIFY_HTTP_PORT=3476
PERMIFY_GRPC_PORT=3478

NACOS_PORT=8848
NACOS_GRPC_PORT=9848
NACOS_CONSOLE_PORT=8080
NACOS_AUTH_TOKEN=bGFiLXN5c3RlbS1jbG91ZC1sb2NhbC1uYWNvcy10b2tlbi0yMDI2
NACOS_AUTH_IDENTITY_KEY=lab-system
NACOS_AUTH_IDENTITY_VALUE=lab-system-local

LOKI_PORT=3100
ALLOY_PORT=12345
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
