<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.jasenon.lab.mqtt.client.itfc.mapper.DeviceMapper">
    <!-- 在此处添加SQL映射语句 -->
    <resultMap id="DeviceResultMap" type="xyz.jasenon.lab.common.model.device.Device" autoMapping="true">
        <id javaType="string" column="id" property="id"/>
        
        <discriminator javaType="xyz.jasenon.lab.common.model.device.DeviceType" column="device_type">
            <case value="Access" resultType="xyz.jasenon.lab.common.model.device.devices.Access"/>
            <case value="AirCondition" resultType="xyz.jasenon.lab.common.model.device.devices.AirCondition"/>
            <case value="CircuitBreak" resultType="xyz.jasenon.lab.common.model.device.devices.CircuitBreak"/>
            <case value="Light" resultType="xyz.jasenon.lab.common.model.device.devices.Light"/>
            <case value="Sensor" resultType="xyz.jasenon.lab.common.model.device.devices.Sensor"/>
        </discriminator>
        
    </resultMap>
    
    <select id="getDeviceById" resultMap="DeviceResultMap">
        SELECT * FROM `device` WHERE `delete_at` IS NULL AND `id` = #{device_id} LIMIT 1;
    </select>

    <select id="listAll" resultMap="DeviceResultMap">
        SELECT * FROM `device` WHERE `delete_at` IS NULL;
    </select>

    <update id="updateDevice">
        UPDATE `device`
        <set>
            <if test="device.deviceName != null">
                `device_name` = #{device.deviceName},
            </if>
            <if test="device.belongTo != null">
                `belong_to` = #{device.belongTo},
            </if>
            <if test="device.deviceType != null">
                `device_type` = #{device.deviceType},
            </if>
            `polling` = #{device.polling},
            <if test="device.gatewayId != null">
                `gateway_id` = #{device.gatewayId},
            </if>
            <choose>
                <when test="device.deviceType != null and device.deviceType.name() == 'Access'">
                    `address` = #{device.address},
                    `is_lock` = #{device.lock},
                </when>
                <when test="device.deviceType != null and device.deviceType.name() == 'AirCondition'">
                    `address` = #{device.address},
                    `self_id` = #{device.selfId},
                    <if test="device.socketGatewayId != null">
                        `socket_gateway_id` = #{device.socketGatewayId},
                    </if>
                    <if test="device.groupId != null">
                        `group_id` = #{device.groupId},
                    </if>
                    `is_lock` = #{device.lock},
                </when>
                <when test="device.deviceType != null and device.deviceType.name() == 'CircuitBreak'">
                    `address` = #{device.address},
                </when>
                <when test="device.deviceType != null and device.deviceType.name() == 'Light'">
                    `address` = #{device.address},
                    `self_id` = #{device.selfId},
                    `is_lock` = #{device.lock},
                </when>
                <when test="device.deviceType != null and device.deviceType.name() == 'Sensor'">
                    `address` = #{device.address},
                    `self_id` = #{device.selfId},
                </when>
            </choose>
            `update_at` = CURRENT_TIMESTAMP(3)
        </set>
        WHERE `delete_at` IS NULL AND `id` = #{device.id};
    </update>
</mapper>
