<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.jasenon.lab.mqtt.client.itfc.mapper.DeviceMapper">
    <!-- 在此处添加SQL映射语句 -->
    <resultMap id="DeviceResultMap" type="xyz.jasenon.lab.common.model.device.Device" autoMapping="true">
        <id javaType="string" column="id" property="id"/>
        
        <discriminator javaType="xyz.jasenon.lab.common.model.device.DeviceType" column="device_type">
            <case value="Access" resultType="xyz.jasenon.lab.common.model.device.devices.Access"/>
            <case value="AirCondition" resultType="xyz.jasenon.lab.common.model.device.devices.AirCondition"/>
            <case value="CircuitBreak" resultType="xyz.jasenon.lab.common.model.device.devices.CircuitBreak"/>
            <case value="Light" resultType="xyz.jasenon.lab.common.model.device.devices.Light"/>
            <case value="Sensor" resultType="xyz.jasenon.lab.common.model.device.devices.Sensor"/>
        </discriminator>
        
    </resultMap>
    
    <select id="getDeviceById" resultMap="DeviceResultMap">
        SELECT * FROM `device` WHERE `delete_at` IS NULL AND `id` = #{device_id} LIMIT 1;
    </select>

    <select id="listAll" resultMap="DeviceResultMap">
        SELECT * FROM `device` WHERE `dalete_at` IS NULL;
    </select>

    <update id="updateDevice">
        UPDATE `device` SET VALUE(#{device...}) WHERE `id` = #{device.id};
    </update>
</mapper>