<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.jasenon.lab.mqtt.client.itfc.mapper.DeviceMapper">
    <!-- 在此处添加SQL映射语句 -->
    <resultMap id="DeviceResultMap" type="xyz.jasenon.lab.device.model.Device" autoMapping="true">
        <id javaType="string" column="id" property="id"/>
        
        <discriminator javaType="xyz.jasenon.lab.device.model.DeviceType" column="device_type">
            <case value="Access" resultMap="AccessDeviceResultMap"/>
            <case value="AirCondition" resultMap="AirConditionDeviceResultMap"/>
            <case value="CircuitBreak" resultMap="CircuitBreakDeviceResultMap"/>
            <case value="Light" resultMap="LightDeviceResultMap"/>
            <case value="Sensor" resultMap="SensorDeviceResultMap"/>
        </discriminator>
    </resultMap>

    <resultMap id="AccessDeviceResultMap" type="xyz.jasenon.lab.device.model.devices.Access" autoMapping="true">
        <id javaType="string" column="id" property="id"/>
        <result column="is_lock" property="locked"/>
    </resultMap>

    <resultMap id="AirConditionDeviceResultMap" type="xyz.jasenon.lab.device.model.devices.AirCondition" autoMapping="true">
        <id javaType="string" column="id" property="id"/>
        <result column="is_lock" property="locked"/>
    </resultMap>

    <resultMap id="CircuitBreakDeviceResultMap" type="xyz.jasenon.lab.device.model.devices.CircuitBreak" autoMapping="true">
        <id javaType="string" column="id" property="id"/>
    </resultMap>

    <resultMap id="LightDeviceResultMap" type="xyz.jasenon.lab.device.model.devices.Light" autoMapping="true">
        <id javaType="string" column="id" property="id"/>
        <result column="is_lock" property="locked"/>
    </resultMap>

    <resultMap id="SensorDeviceResultMap" type="xyz.jasenon.lab.device.model.devices.Sensor" autoMapping="true">
        <id javaType="string" column="id" property="id"/>
    </resultMap>
    
    <select id="getDeviceById" resultMap="DeviceResultMap">
        SELECT * FROM `device` WHERE `delete_at` IS NULL AND `id` = #{device_id} LIMIT 1;
    </select>

    <select id="listAll" resultMap="DeviceResultMap">
        SELECT * FROM `device` WHERE `delete_at` IS NULL;
    </select>

    <select id="list" resultMap="DeviceResultMap">
        SELECT * FROM `device`
        WHERE `delete_at` IS NULL
        <if test="gateway_id != null and gateway_id != ''">
            AND `gateway_id` = #{gateway_id}
        </if>
        <if test="laboratory_id != null and laboratory_id != ''">
            AND `belong_to` = #{laboratory_id}
        </if>
        ORDER BY `create_at` DESC;
    </select>

    <select id="listByLaboratories" resultMap="DeviceResultMap">
        SELECT * FROM `device`
        WHERE `delete_at` IS NULL
        AND `belong_to` IN
        <foreach collection="laboratory_ids" item="laboratory_id" open="(" separator="," close=")">
            #{laboratory_id}
        </foreach>
        <if test="gateway_id != null and gateway_id != ''">
            AND `gateway_id` = #{gateway_id}
        </if>
        ORDER BY `create_at` DESC;
    </select>

    <insert id="addDevice">
        INSERT INTO `device` (
            `id`, `device_name`, `belong_to`, `device_type`, `polling`, `gateway_id`,
            `address`, `self_id`, `socket_gateway_id`, `group_id`, `is_lock`
        ) VALUES (
            #{device.id}, #{device.deviceName}, #{device.belongTo}, #{device.deviceType},
            #{device.polling}, #{device.gatewayId}, #{device.address},
            <choose>
                <when test="device.deviceType != null and (device.deviceType.name() == 'AirCondition' or device.deviceType.name() == 'Light' or device.deviceType.name() == 'Sensor')">#{device.selfId}</when>
                <otherwise>NULL</otherwise>
            </choose>,
            <choose>
                <when test="device.deviceType != null and device.deviceType.name() == 'AirCondition'">#{device.socketGatewayId}</when>
                <otherwise>NULL</otherwise>
            </choose>,
            <choose>
                <when test="device.deviceType != null and device.deviceType.name() == 'AirCondition'">#{device.groupId}</when>
                <otherwise>NULL</otherwise>
            </choose>,
            <choose>
                <when test="device.deviceType != null and (device.deviceType.name() == 'Access' or device.deviceType.name() == 'AirCondition' or device.deviceType.name() == 'Light')">#{device.locked}</when>
                <otherwise>FALSE</otherwise>
            </choose>
        );
    </insert>

    <update id="updateDevice">
        UPDATE `device`
        <set>
            <if test="device.deviceName != null">
                `device_name` = #{device.deviceName},
            </if>
            <if test="device.belongTo != null">
                `belong_to` = #{device.belongTo},
            </if>
            <if test="device.deviceType != null">
                `device_type` = #{device.deviceType},
            </if>
            `polling` = #{device.polling},
            <if test="device.gatewayId != null">
                `gateway_id` = #{device.gatewayId},
            </if>
            <choose>
                <when test="device.deviceType != null and device.deviceType.name() == 'Access'">
                    `address` = #{device.address},
                    `is_lock` = #{device.locked},
                </when>
                <when test="device.deviceType != null and device.deviceType.name() == 'AirCondition'">
                    `address` = #{device.address},
                    `self_id` = #{device.selfId},
                    <if test="device.socketGatewayId != null">
                        `socket_gateway_id` = #{device.socketGatewayId},
                    </if>
                    <if test="device.groupId != null">
                        `group_id` = #{device.groupId},
                    </if>
                    `is_lock` = #{device.locked},
                </when>
                <when test="device.deviceType != null and device.deviceType.name() == 'CircuitBreak'">
                    `address` = #{device.address},
                </when>
                <when test="device.deviceType != null and device.deviceType.name() == 'Light'">
                    `address` = #{device.address},
                    `self_id` = #{device.selfId},
                    `is_lock` = #{device.locked},
                </when>
                <when test="device.deviceType != null and device.deviceType.name() == 'Sensor'">
                    `address` = #{device.address},
                    `self_id` = #{device.selfId},
                </when>
            </choose>
            `update_at` = CURRENT_TIMESTAMP(3)
        </set>
        WHERE `delete_at` IS NULL AND `id` = #{device.id};
    </update>

    <update id="removeDevice">
        UPDATE `device`
        SET `delete_at` = CURRENT_TIMESTAMP(3), `polling` = FALSE
        WHERE `delete_at` IS NULL AND `id` = #{device_id};
    </update>
</mapper>
